# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.bak
*.d
*.map
*.hzs
*.xcbkptlist
*.xccheckout
*.xcuserstate
*.lock
__pycache__/
test_output/
